.know_card_inner_div{
    
    margin-left:10vw;
    margin-right: 10vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    flex-direction: row;
    color:black;
    margin-bottom:5vw;
    justify-content: space-between;
}


.know_left_card{
    
    font-size: 45px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.know_card_para{
    font-size:17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: gray;
    font-weight:0px;
}
.k_button {
    width: 180px;
    height: 50px;
    border: 0px;
    border-radius: 35px;
    background-color: white;
    margin-top: 2vw;
   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.know_right_card{
    
    font-size: 20px;
   
}




@media (max-width: 768px) {
    .know_card_inner_div{
        flex-direction: column; 
        align-items:center; 
        text-align: start;
        margin: 10vw;
    }

    .know_left_card{
        
        font-size: 36px; 
        padding-right:10vw;
    }

   

    .know_right_card{
        
        font-size: 16px;
        margin-top:3vw;
    }
        
    .intro_img {
          width:100%
        }
      
}

/*  collab part */
.collab_img{

}
.collab_card_inner_div{
    margin: 7vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    flex-direction:row;
    color:black;
    margin-bottom:0vw;
    justify-content: space-between;
    margin-top:1vw;
}
.collab_left_Card{

}
.collab_right_card{
    margin:5vw;
    text-align: start;
}
.collab_right_head{
    font-size:40px;
    font-weight: bold;

}
.bi{
    color:orange;
    padding:2px;
   
}
a{
    color:orange;
    font-size:20px;
    padding:5px;
}

@media (max-width: 768px) {
    .collab_card_inner_div{
        flex-direction: column; 
        align-items: start; 
        text-align: start;
        margin: 5vw;
    }

    .collab_left_card{
        
        font-size: 20px; 
        padding-right:10vw;
    }

   

    .collab_right_card{
        
        font-size: 16px;
        margin-top:3vw;
    }
        
    .collab_img {
          width: 100%;
        }
    .collab_right_head{
        font-size:30px;
    }
}


/*sellse card */
.sells_card_inner_div{
    
    margin-left:10vw;
    margin-right: 10vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    flex-direction: row;
    color:black;
    margin-bottom:0vw;
    justify-content: space-between;
}


.sells_left_card{
    
    font-size: 45px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.sells_card_para{
    font-size:17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: gray;
    font-weight:0px;
}


.sells_right_card{
    
    font-size: 20px;
    margin-left:4vw;
    margin-top: 4vw;
    text-align:start;
}

.sells_right_head{
    font-size:40px;
    font-weight: bold;

}
.sells_right_para{
    font-size:20px;
    color:gray
}
.sells_card_highlight{
    background-color:rgb(254 96 25 / 0.4);
}
.sells_img{
    
}


@media (max-width: 768px) {
    .sells_card_inner_div{
        flex-direction: column; 
        align-items: start; 
        text-align: start;
        
    }

    .sells_left_card{
        
        font-size: 25px; 
        padding-right:10vw;
    }

   

    .sells_right_card{
        
        font-size: 10px;
        margin-top:10vw;
    }
        
    .sells_img {
          width:100%;
         
        }
      
}
