body{
    background-color:#eef8ff;
  }
  footer{
    width:100%;
    /*position:absolute;*/
    bottom:0;
    background-color:rgb(229 229 229 / 0.5);;
    color:black;
  
    padding: 100px 0 30px;
    border-top-left-radius:50px ;
    border-top-right-radius:50px ;
    font-size:13px;
    line-height:20px;
    justify-content:center;
  }
  .row{
    width:85%;
    margin:auto;
    display:flex;
    flex-wrap:wrap;
    align-items:flex-start;
    justify-content: space-between;
  
  }
  .col{
    flex-basis:25%;
    padding:10px;
  }
.col:nth-child(3),.col:nth-child(4){
    flex-basis:20%;
  }
  .c-logo{
    width:80px;
    margin-bottom:30px ;
  }
  .col h4{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
  
  }
  .email-id{
    width:fit-content;
    border-bottom:1px solid #ccc;
    margin:20px 0 ;
  }
  form{
    padding-bottom:15px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    border-bottom:1px solid #ccc;
    margin-bottom: 50px;
  }
   form .bi{
    font-size:18px;
    margin-right: 10px;
    color: #ccc;
   }
   form input{
    width:100%;
    background-color:transparent;
    color:#ccc;
    border:0;
    outline:none;
   }
   form button{
    background-color: transparent;
    border:0;
    outline:none;
    cursor: pointer;
   }
   .social_media_icons .bi{
      width:3vw;
      height:3vw;
      border-radius: 50%;
      text-align:center;
      line-height:4vw;
      font-size:2vw;
      background-color:white;
      margin-right:1vw;
      cursor: pointer;
  
   }
   hr{
      width: 90%;
      border:0;
      border-bottom: 1px solid #ccc;
      margin:2vw auto;
   }
   .copyright{
    text-align:center;
   }
  
   @media(max-width:700px) {
    footer{
      bottom:unset;
    }
    .col{
      flex-basis:100%;
    
    }
    .col:nth-child(2),.col:nth-child(3){
      flex-basis:100%;
    }
    
   }
  