.help_body_inner_div{
    background-image: linear-gradient(184.78deg, #fa709a 7.64%, #fee140 120.07%);
    margin: 10vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    flex-direction: row;
    color: aliceblue;
    margin-bottom:5vw;
}

.help_left_card{
    margin: 5vw;
    font-size: 45px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.h_button {
    width: 180px;
    height: 50px;
    border: 0px;
    border-radius: 35px;
    background-color: aliceblue;
    margin-top: 2vw;
}

.help_right_card{
    margin: 5vw;
    font-size: 20px;
}


@media (max-width: 768px) {
    .help_body_inner_div{
        flex-direction: column; 
        align-items: center; 
        text-align: center; 
        margin: 5vw;
    }

    .help_left_card{
        margin: 5vw;
        font-size: 36px; 
    }
   

    .help_right_card{
        margin: 5vw;
        font-size: 16px; 
    }
}


