.h_our_custmoers{
    font-size:50px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}
.customercard{
    margin:10vw;
    display:flex;
    flex-direction:column;

}
.customer_card_upper{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
.card_paragraph{
   margin-left:15vw;
   font-size:20px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: gray;
}

.customer_card_lower{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    margin:2vw;
   
  }
  
   
   
  

  .card-image {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
   
   
  }

  .card-image img {
    width: 100%;
    
    bottom: 0;
    left: 0;

  }

  .card-content {
    margin-top: 20px;
  }

  .card-name {
    font-size: 20px;
    font-weight: bold;
  }

  .card-occupation {
    font-size: 14px;
    color: #666;
  }

  .card-description {
    font-size: 14px;
    color: #333;
    margin-top: 10px;
  }

  .card-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }

  .rating-stars {
    color: #f39c12;
    font-size: 30px;
    margin-right: 5px;
  }