.h_our_custmoers{
    font-size:50px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}
.customercard{
    margin:10vw;
    display:flex;
    flex-direction:column;
    

}
.customer_card_upper{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
.card_paragraph{
   margin-left:15vw;
   font-size:20px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: gray;
}

.customer_card_lower{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
}
/*hhhhh*/
.ringcards{
  display:flex;
  flex-direction:row;
  margin-top:6vw;
  flex-wrap: wrap;
  justify-content: center;
 
}
.container {
  width: 400px;
  margin: 120px auto 120px;
  background-color: #fff;
  padding: 0 20px 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  text-align: center;
  margin:4px;
}

.avatar-flip {
  border-radius: 100px;
  overflow: hidden;
  height: 150px;
  width: 150px;
  position: relative;
  margin: auto;
  top: -60px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  box-shadow: 0 0 0 13px #f0f0f0;
  -webkit-box-shadow: 0 0 0 13px #f0f0f0;
  -moz-box-shadow: 0 0 0 13px #f0f0f0;
}



h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #333;
}
h4 {
  font-size: 13px;
  color: #00baff;
  letter-spacing: 1px;
  margin-bottom: 25px
}
p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 20px;
  color: #666;
}


/*hhhh*/

  @media (max-width: 768px) {
    .customer_card_upper{
        flex-direction: column; 
        align-items: center; 
        text-align:start;
        
    }
    .card_paragraph{
      margin:0px;
    }

    .h_our_custmoers{
      font-size:35px;
    }
    .container{
      margin-bottom:6vw;
      margin-top:6vw;
    }
    
}